<form>
  <mat-card class='poll-form'>
    <mat-form-field>
      <input 
        matInput type='text' 
        placeholder="Enter poll question" 
        id="question"
         [(ngModel)]="question"
         name="question"
         >
    
    </mat-form-field>
      <mat-form-field>
        <input 
          matInput type="text" 
          placeholder="Option 1" 
          id="Option1" 
          [(ngModel)]="option" 
          name="Option">
        </mat-form-field>

      <mat-form-field>
        <input 
          matInput type="text" 
          placeholder="Option 2" 
          id="Option2" 
          [(ngModel)]="option2" 
          name="Option2">
      </mat-form-field>
      <mat-form-field>
        <input 
          matInput type="text" 
          placeholder="Option 3" 
          id="Option3" 
          [(ngModel)]="option3" 
          name="Option3">
      </mat-form-field>

      </mat-card>
      <div class='form-button'>
        <button type="submit" mat-raised-button color="primary"(click)="onSubmit()">Submit Poll</button>
      </div> 
    </form>
                  <!-- <mat-form-field>
                    <input matInput type="text" placeholder="Option 3"> </mat-form-field>
                    <mat-form-field>
                      <input matInput type="text" placeholder="Option 3"> </mat-form-field> -->