<form (ngSubmit)="onSubmit()" #pollForm="ngForm">
  <mat-card class='poll-form'>
    <mat-form-field>
      <input matInput type='text' placeholder="Enter poll question" id="question" [(ngModel)]="question" name="question"> </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Option 1" id="Option1" [(ngModel)]="option" name="option"> </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Option 2" id="Option2" [(ngModel)]="option2" name="option2"> </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Option 3" id="Option3" [(ngModel)]="option3" name="option3"> </mat-form-field>
  </mat-card>
  <div class='form-button'>
    <button type="submit" mat-raised-button color="primary">Submit Poll</button>
  </div>
</form>
